* {

    padding: 0px;
    margin: 0px;

}

.formRegis {

    background-color: rgb(108, 178, 203);
    width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.formRegis h3 {

    font-size: 30px;
    color: rgb(62, 27, 99);

}

.entrada {
    width: 400px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(35, 29, 204);
    background-color: rgb(234, 238, 255);
    margin-bottom: 12px;
}
.enviar{
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    margin-left: 150px;
    border-radius: 10px;
    background-color: rgb(234, 238, 255);
}